div.section {

	// height: 200px;
	background-color: #7DBA84;
	width: 100%;
	font-family: arial;
	padding: 10px;
	box-sizing: border-box;
	margin-bottom: 20px;

	h1 {
		margin: 0;
		padding: 0;
	}

	p {
		display: inline-block;
	}

	button {
		margin-left: 10px;
		width: 100px;
		height: 20px;
		background-color: #6F8F72;
		color: white;
		border: none;
		border-radius: 5px;
	}

}

div.warning {
	width: 100%;
	font-family: arial;
	padding: 10px;
	box-sizing: border-box;
	background-color: #EB8258;
	// position: absolute;
	bottom: 0;
	transition: opacity 0.4s ease;

	&.hide {
		opacity: 0;
	}
}