// Colors
$primary: #cddc39;
$dark-primary: #afb42b;
$light-primary: #f0f4c3;
$accent: #ffeb3b;
$primary-text: #212121;
$secondary-text: #727272;
$divider: #b6b6b6;
$black: #000000;
$grey: #555555;
$white: #ffffff;

// Dimensions
$header_height: 80px;
$letter_spacing: 3px;
$font_h1: 30px;
$font_h2: 27px;
$font_h3: 25px;
$font_h4: 22px;
$font_h5: 20px;
$font_general: 17px;
$font_link: 15px;

// Others
$duration: 0.5s;
$function: ease;